body {
    width: 850px;
}

p {
    color: white;
    text-shadow: 2px 2px black;
}
h4 {
    color: white;
    text-shadow: 2px 2px black;
}
#top { 
    position: relative;
    height: 250px;
    width: 850px;
    background-color: #3B5998;
    margin-bottom: 30px;

}
#headContent {
    position: relative;
    top:150px;
    left:35px;
    height: 80px;
}
#pagePic {
    height: 80px;
    width: 80px;
    border-style: ridge;
    border-width: 3px;
    border-color: azure;
}

#picPost {
    position: relative;
    height: 160px;
    width: 160px;
    border-style: ridge;
    border-width: 4px;
    border-color: azure;
}
#pageTitle {
    position: relative;
    left: 130px;
    bottom: 40px;
    color: white;
    text-shadow: 2px 2px black;
}

#pageContent {
    position: relative;
    top: 20px;
    width: 850px;
    height: 2000px;
}

.lColumn {
    position: relative;
    float: left;
    width: 328px;
    background-color: oldlace;
    text-align: left;
    margin-right: 10px;
}

.rColumn {
    position: relative;
    float: left;
    width: 512px;

}

.sect {
    position: relative;
    background-color: #3B5998;
    height: 200px;
}